
.header{
    /* flex-direction: row; */
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    height:65px
}
.logo{
    height: 150px;
    width: 79px;
    display:flex;
    flex-direction: column;
margin-top: -13px;
}
.ul-list{
    display:flex;
    flex-direction:row;
    gap:50px;
    list-style-type:none;
    padding:0px 20px
}
.nav-items>ul>li{
    font-size: 18px;
}
.loginbtn{
    color: #000;
 }